body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a:link,
a:visited,
a:hover,
a:active {
  color: #c3252c;
}

.navbar-brand {
  font-size: 16px;
  font-weight: bold;
}

.navbar-inverse {
  background-color: #222222;
  border-color: #222222;
  font-family: "Source Sans Pro", Calibri, Candara, Arial, sans-serif; 
  font-size: 15px;
}

.navbar-toggle {
  background-color: transparent;
  border: none;
}

/* ensure navbar doesn't show borders or other artifacts on other devices*/
#airnav {
  background: transparent;
  border: none;
}

/* set color of items in navbar */
#airnav > ul > li,
#airnav > ul > li > a,
.mobileHide,
.mobileShow {
  color: #fff;
  background: transparent;
  line-height: 21px;
}

/* sizing icons in navbar */
#airnav > ul.nav.navbar-nav.navbar-right > li > a > i {
  font-size: 13px;
}

/* navbar dropdown menu mouse hover */
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
  color: #000000;
  text-decoration: none;
  background-color: #F8F8F8;
}

/* navbar dropdown menu hover color */
.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
  color: #000000;
  text-decoration: none;
  outline: 0;
  background-color: #E8E8E8;
}

/* hide rmarkdown produced titles */
#header {
  visibility: hidden;
  position: absolute;
  top: -9999px;
}

/* nav tab color for tabpanels */
.nav-tabs-custom > .nav-tabs > li.active {
  border-top-color: #c3252c;
}

/* ensure process log dump is scrollable */
#log > div.chart-stage.chart-stage-flex,
#log > div.chart-stage.chart-stage-flex > div > pre {
  background: transparent;
  border: none;
  overflow: scroll;
}
#log > div.chart-stage.chart-stage-flex > div > pre > code {
  display:block;
}

.leaflet-control {
  border: 1px solid rgba(0,0,0,0.1) !important;
}

.leaflet-control-layers {
  padding-left: 15px;
  padding-right: 15px;
}

.leaflet-control-zoom-in,
.leaflet-control-zoom-out {
  color: #000000 !important;
}

.leaflet-control-layers-list::before {
  content: "Map data";
  font-size: 15px;
  padding-bottom: 50px;
}

.leaflet-popup-content {
  margin: 10px;
  margin-top: 15px;
}

.leaflet-popup-content > a > button {
  margin-top: 7px;
}

.leaflet-popup-content-wrapper {
  border-radius: 5px;
  min-width: 215px;
}

.leaflet-popup-diagnostic-button {
  position: absolute;
  right: 21px;
  top: 5px;
  font-size: 11px;
  color: #dedee2 !important;
}

/* map positioning below navbar */
.map {
  width: 100%;
  height: calc(100vh - 48px);
  height: -o-calc(100% - 48px); /* opera */
  height: -webkit-calc(100% - 48px); /* google, safari */
  height: -moz-calc(100% - 48px); /* firefox */
  position: fixed;
  left: 0;
  right: 0;
}

/* tracer div spacing */
.tracer-left {
  width: 40px;
  display: inline-block;
}

/* input group sizing */
.input-group-addon {
    min-width: 53px;
    text-align: center;
}

/* leaflet legend position */
.legend {
  position: fixed;
  bottom: 5px;
  right: 5px;
}

/* custom responsive settings for mobile browsers */
.mobileHide {
  display: inline;
}
.mobileShow {
  display: none;
}
@media only screen and (max-device-width: 480px) {
  .mobileHide { display: none; }
  .mobileShow { display: inline; }
}

.content-page {
  max-width: 700px;
  margin: 40px 15px;
}
@media only screen and (min-width: 700px) {
  .content-page {
    margin: 40px auto;
  }
}
